<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div style="text-align: center;">
            <img src="/imgs/pic_of_me.jpg" width="300" height="300" alt="My Profile Picture" class="profile-pic">
        </div>
    </main>
    <footer>
        <p>Contact me at: <a href="mailto:owen.pacheco1@ontariotechu.net">owen.pacheco1@ontariotechu.net</a></p>
        <p>&copy; 2024 by <b>Owen Pacheco</b></p>
    </footer>
    <script src="/js/Home.js"></script>
</body>
</html>
